# Documentos que não posso disponibilizar por conta de direitos autorais.
# Se eu achei pela internet, você também consegue :D

full_tofugu_japanese_grammar.txt
James W. Heisig - Remembering Kanji 4º Edition - Vol 1.pdf
